<h1>HELLO WORLD</h1>
<ul id='js-event-list'>
<%= for post <- @posts do %>
  <li>
    <strong><%= post.title %></strong>
    <small><%= time_format post.inserted_at %></small>
  </li>
<% end %>

</ul>
